
a {
    color: white;
}

a:hover {
    text-decoration: none !important;
}

.description {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;
}

.how {
    text-align: center;
    font-family: cursive, Georgia;
    font-size: 30px;
    color: #0000ff;
    margin-top: 30px;

}

.cards {
    margin-top: 20px;
    width: 550px;
    background-color: #c69720; /*  ?????? */
    text-align: center;
}

.card {
    width: 100%;
    background-color: #601224;
    margin-bottom: 10px;
    margin-top: 10px;

}

.center {
    text-align: center;
}

.typo {
    margin-top: 30px;
    text-align: center;
    background-color: #c620c6;
    margin-bottom: 1000px;
    font-family: cursive, Georgia; /* WTF czemu to nie dziala? cos nadpisuje? */
}

.text {
    margin-bottom: 10px;
    text-align: center;
    font-family: cursive, Georgia;
    font-size: 30px;
    color: #0000ff;
}

li {
    list-style-type: none;
}

