

a {
    color: white;
}

a:hover {
    text-decoration: none !important;
}

.description {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}


.seekbutton {
    text-align: center;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: red;
}

.cards {
    margin-top: 40px;
    maxWidth: 'lg';
}

card {
    marginBottom: 30px;
}

