
a {
    color: white;
}

.h6{
    margin-top: 10px;
}

a:hover {
    text-decoration: none !important;
}

.single {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.description {
    margin-top: 20px;
    text-align: center;

}

.buttons {
    text-align: center;
    margin-bottom: 10px;
}

.how {
    text-align: center;
    font-family: cursive, Georgia;
    font-size: 30px;
    color: #0000ff;
    margin-top: 20px;

}

.cards {
    margin-top: 20px;
    background-color: #c69720; /*  ?????? */
    font-size: 18px;
}

.ingre {
    width: 100%;
    background-color: #601224;
    margin-bottom: 10px;
    margin-top: 10px;

}

.list{
    text-align: center;
    font-size: 18px;
}

.typo {
    margin-top: 30px;
    text-align: center;
    background-color: #c620c6;
    margin-bottom: 1000px;
    font-family: cursive, Georgia; /* WTF czemu to nie dziala? cos nadpisuje? */
}

.text {
    margin-bottom: 10px;
    font-family: cursive, Georgia;
    text-align: center;
    font-size: 30px;
    color: #0000ff;
}

li {

}

.MuiListItem-root {
    text-align: center !important;
    justify-content: center !important;
    margin-top: 10px !important;
    font-size: 20px !important;
    color: black !important;
}
.item-nav:hover {
    background-color: #0000ff !important;
}

button {
    outline: none !important;
}

.tips {
    text-align: left;
}
